/*--------------------
    FONTS SECTION
--------------------*/
// Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
// IBM Plex Mono
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/*---------------------
    COLORS SECTION
---------------------*/
$background-color: #121212;
$gradient-begin-color: #FC575E;
$gradient-end-color: #90D5EC;
$text-bright-color: #F5F5F5;
$text-dark-color: #3A3A3A;
$text-normal-color: #FFFFFF;