body
    background-color: #23252b
    font-family: "Front Page News"
    letter-spacing: 1px
    padding: 0
    margin: 0

@font-face
    font-family: 'Front Page News'
    font-style: normal
    font-weight: bold
    src: url('./assets/fonts/front-page-news.otf') format('opentype')